:80 {
    handle /v1/* {
        reverse_proxy vllm-active:18000
    }

    handle_path /oui* {
        reverse_proxy host.docker.internal:3333
    }

    handle /mobility/* {
        reverse_proxy host.docker.internal:8000
    }

    handle {
        reverse_proxy host.docker.internal:3000
    }
}

:8081 {
    reverse_proxy host.docker.internal:3333
}

:3002 {
    reverse_proxy host.docker.internal:3001
}
